body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.User-form{
  width: 260px;
  margin: auto 200px;
  padding: 32px;
  font-weight: bold;
  background-color: gray;
  
}

.user{
  display: block;
  margin-top: 32px;
}

 .userEmail{
  display: block;
  margin-top: 32px;
}

.userPw{
  display: block;
  margin-top: 32px;
} 


.age{
  display: block;
  margin-top: 32px;
}
.rank{
  display: block;
  margin-top: 32px;
}

.note{
  display: block;
  margin-top: 32px;
}


.error {
  margin: 0;
  position: absolute;
  
}

.checkbox-container{
  display: flex;
  margin-top: 32px;
}

button{
  display: flex;
  margin: 32px
}
